.clients {
  flex: 0 0 12rem;
  height: 100%;
  overflow: auto;
  background: #444;
  min-width: 9rem;
}
.clients_item {
  position: relative;
  padding: 0.5rem;
  height: 4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.clients_item:hover {
  cursor: pointer;
  background: #4c4c4c;
}
.clients_item:hover .clients_item-img-pulse {
  background: deeppink;
  box-shadow: 0px 0px 8px 4px deeppink;
}
.clients_item:hover .btn_close-client{
  visibility: visible;
}
.clients_item-avatar {
  height: 100%;
  border-radius: 50%;
  padding: .2rem 1rem;
}
.clients_item-status {
  flex: 1 1 auto;
  padding: 0.3rem;
  width: 60%;
}
.clients_item-status-desc {
  color: #999;
  padding-top: .5rem;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clients_item-status-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clients_item-img {
  position: relative;
  min-width: 3rem;
  height: 3rem;
  margin: 0 .5rem 0 0;
}
.clients_item-img-img, 
.clients_item-img-pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.client-selected {
  background: #4c4c4c;
}
.client-empty {
  margin: 1rem;
  color: #bbb;
}
.btn_close-client {
  visibility: hidden;
}
.pulse {
  animation: pulsing 1s ease-out infinite;
}
@keyframes pulsing {
  from {
    background: aquamarine;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}